.ant-list-split .ant-list-item {
    border: none !important;
}

.ant-list-item {
    justify-content: flex-end !important;
}

.ant-list-item>div {
    margin-right: 4px;
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    border-collapse: separate;
    padding: 4px 10px;
    text-align: left;
}

.ant-list::-webkit-scrollbar{
    width : 10px;  
    height: 1px;
}

.ant-list::-webkit-scrollbar-thumb{
    width: 10px;
    height: 1px;
    background: #d9d9d9;
    border-radius: 10px;
}
.message-list{
    overflow: auto;
    height: 100%;
}

